{% extends "AppHidroZen/base.html" %}

{% block title %}
    Login - HidroZen
{% endblock %}



{% block content %}
<div class="form-container">
    <form class="form">
    <span class="input-span">
        <label class="label" for="email">Email</label>
        <input type="email" id="email" name="email">
    </span>
    <span class="input-span">
        <label class="label" for="password">Contraseña</label>
        <input type="password" id="password" name="password">
    </span>
    <button type="submit" class="submit">Ingresar</button>

    <!-- Sección que no aparece -->
    <p class="signup-text">
        Don't have an account? <a href="#" class="signup-link">Sign up</a>
    </p>
    </form>
</div>
{% endblock %}








