{% extends "AppHidroZen/base.html" %}
{% load static %}

{% block title %}
    Inicio - HidroZen
{% endblock %}

{% block content %}
<canvas id="particleCanvas"></canvas>

<div class="auto-wrapper">
    <h1 class="auto-main-title">PROGRAMACIÓN AUTOMÁTICA</h1>

    <h2 class="auto-soil-humidity">Humedad del Suelo 🌿</h2>
    <div class="auto-slider-container">
        <input type="range" min="0" max="100" step="1" value="0" id="progressBar" class="auto-progress-input">
        <div class="auto-progress-bar">
            <div class="auto-progress-fill" id="progressFill"></div>
        </div>
        <p class="auto-progress-label">Progreso: <span id="progressValue">0%</span></p>
    </div>

    <div class="auto-schedule-container">
        <h2 class="auto-schedule-title">TEMPORIZACIÓN</h2>
        <div class="auto-input-container">
            <input type="date" id="datePicker" class="auto-schedule-input">
            <input type="time" id="timePicker" class="auto-schedule-input">
        </div>
    </div>

    <button class="auto-program-button" id="programButton">Programar</button>
</div>

<div class="auto-modal" id="modal">
    <h3 class="auto-modal-title">Validación de Programación</h3>
    <p class="auto-modal-message" id="modalMessage"></p>
    <button class="auto-close-button" id="closeButton">Cerrar</button>
</div>

<script src="{% static 'js/inicio.js' %}"></script>
{% endblock %}


